a.btn, button, input[type=submit], input[type=reset], .btn {
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
    box-sizing: content-box;
    transition: background-color 0.5s;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
}

.btn-primary {
    background-color: rgba(35, 97, 136, 0.85);
    color: white;
}

.btn-primary:hover {
    background-color: rgba(35, 97, 136, 1.0);
}

.btn-default {
    background-color: rgba(0, 122, 204, 0.85);
}

.btn-default:hover {
    background-color: rgba(0, 122, 204, 1.0);
}

.btn-warning {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
}

.btn-warning:hover {
    background-color: rgba(255, 0, 0, 0.8);
}