body {
    line-height: 1.5em;
    word-spacing: 0em;
    letter-spacing: 0.10em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

hr{
    border-style: none;
    border-bottom-style: solid;
}

div, header, footer, section, article, nav {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.inline-block{
    display: inline-block;
}

.main-content {
    padding-right: 8em;
    padding-left: 8em;
}

header.title {
    text-align: center;
}

header.title.text-left {
    text-align: left;
}

header.title h1 {
    text-transform: uppercase;
    font-family: Calibri, sans-serif;
    font-size: 3.25em;
    font-weight: lighter;
}

.text-danger {
    color: rgba(255, 0, 0, 0.5);
}