form {
        padding: 1.5em;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .form-primary {
        display: inline-block;
        border-right: 1.5px solid black;
        width: 50%;
    }

    .form-primary input:not([type="checkbox"]) {
        display: block;
        padding: 0.75em;
        width: 75%;
        margin: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.1em;
        border: 1px solid black;
        margin-bottom: 0.75em;
        transition: border-color 0.5s;
    }

    .form-primary input[type=submit] {
        font-family: Calibri, sans-serif;
        background-color: rgb(35, 97, 136);
        color: white;
        text-transform: uppercase;
        box-sizing: content-box;
        transition: background-color 0.5s;
    }

    .form-primary input[type=checkbox]{
        display: inline;
        margin: 0.75em;
    }

    .form-primary label {
        display: inline;
    }

    .form-primary input::placeholder {
        color: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }

    .form-primary input[type=submit]:hover {
        cursor: pointer;
        background-color: rgb(17, 48, 68);
    }

    .form-primary div.checkbox {
        display: inline;
    }

    .form-primary .horizontal {
        padding-left: 3em;
    }

    .form-primary .horizontal > * {
        display: inline-block;
    }

    .form-primary .horizontal .form-left {
        text-align: left;
    }

    .form-primary .horizontal .form-right {
        text-align: right;
    }

    .form-primary .horizontal .form-center {
        display: block;
        text-align: center;
    }

    .form-primary a {
        font-weight: bold;
    }

    .form-primary a:hover {
        text-decoration: underline;
    }

    .form-horizontal input:not([type="checkbox"]),
        .form-horizontal select,
        .form-horizontal textarea {
        display: block;
        padding: 0.75em;
        margin-bottom: 0.66em;
    }

    .form-horizontal input:not([type="checkbox"]),
        .form-horizontal textarea {
        width: 80%;
    }

    .form-horizontal input[type=submit], 
        .form-horizontal input[type=reset] {
        display: inline-block;
        width: auto;
        padding-left: 1em;
        padding-right: 1em;
        text-transform: uppercase;
    }

    .form-horizontal select {
        width: 83.5%;
    }

    .form-horizontal div.form-group {
        display: block;
        width: 100%;
    }

    .form-horizontal div.label-box {
        display: inline-block;
        width: 35%;
        text-align: right;
    }

    .form-horizontal div.input-box {
        display: inline-block;
        width: 55%;
    }