@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    Other than on Fiver, you can contact me on email and whatsapp:
    <p>Email: ars.ahm6@gmail.com</p>
    <p>Whatsapp: +923084063662</p>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:ars.ahm6@gmail.com">ars.ahm6@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ars.ahm6@gmail.com">+923084063662</a>
</address>