<style>
    .card {
        padding-top: 4.5em;
        padding-bottom: 4.5em;
        padding-left: 3em;
        padding-right: 3em;
        font-family: Calibri, sans-serif;
        font-size: 1.5em;
        color: white;
    }

    .card-primary {
        background-color: rgb(35, 97, 136);
    }

    a.link-main {
        display: inline-block;
        background-color: white;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        padding-left: 1.25em;
        padding-right: 1.25em;
        font-weight: lighter;
        color: rgb(35, 97, 136);
        transition: background-color 1s, color 0.5s;
        -webkit-transition: background-color 1s, color 0.5s;
    }

    a.link-main:hover {
        background-color: rgb(16, 48, 68);
        color: white;
    }
</style>

@{
    ViewBag.Title = "Welcome!";
}

<section style="width:100%; margin-top: 2em; margin-bottom: 2em;">
    <div class="inline-block" style="min-width:32%; max-width: 32%">
        <img src="~/Content/Images/car1.png" style="width: 357px; height: 220px" alt="Car" />
    </div>
    <div class="inline-block" style="min-width:32%; max-width: 32%">
        <img src="~/Content/Images/car2.png" style="width: 357px; height: 220px" alt="Car" />
    </div>
    <div class="inline-block" style="min-width:32%; max-width: 32%">
        <img src="~/Content/Images/car3.png" style="width: 357px; height: 220px" alt="Car" />
    </div>
</section>

<section class="main" style="margin-top: 2em; margin-bottom: 2em;">
    <div class="card card-primary">
        <div class="card-content">
            <p>
                Ready to join London Taxi Club? Contact Us!
            </p>
            <a class="link-main" href="#">Click Here!</a>
        </div>
    </div>
</section>