
@{
    ViewBag.Title = "Admin Home";
}

<header class="title">
    <h1>Admin Home</h1>
</header>

@Html.ActionLink("Contracts", "ContractIndex")
<br />
@Html.ActionLink("Proprietors", "ProprietorIndex")