@model VehicleRenting.Models.proprietor

@{
    ViewBag.Title = "ProprietorDetails";
}

<header class="title text-left">
    <h1>Proprietor Details</h1>
    <hr />
</header>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    <span class="fa fa-arrow-circle-left"></span><a href="@Url.Action("ProprietorIndex")">Back to List</a>
</p>
