@model VehicleRenting.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<header class="title">
    <h1>Reset your Password</h1>
</header>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-primary", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.TextBoxFor(m => m.Email, new { @class = "", type = "email", placeholder = "Enter your email", autofocus = "autofocus" })
    <input type="submit" class="btn btn-default" value="Send Verification Link" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
